.footer {
  width: 100%;
  padding: 40px 20px;

  background-color: #111827;

  margin-top: 80px;
}

.footer-content {
  max-width: 1200px;
  margin: auto;

  text-align: center;
}

.footer-content h2 {
  color: var(--primary-color);

  margin-bottom: 10px;
}

.footer-content p {
  color: var(--text-secondary);

  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links a {
  transition: 0.3s;
}

.footer-links a:hover {
  color: var(--primary-color);
}